body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.no-border {
  border: none;
  background: none;
  border-width: 0px;
  border-color: white;
}
#left-button-js {
  -webkit-touch-callout: unset;
  border: none;
}
#button-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas-js {
  margin: 20px;
  max-width: 100%;
  max-height: 100%;
}